In [358]:
import mysql.connector as mysql

In [385]:
class sqloperations:
    def __init__(self,dbname):
        self.dbname=dbname
    def create_database(self):
        try:
            flag=0
            conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba")
            cur=conn.cursor()
            cur.execute("SHOW DATABASES")
            for i in cur:
                if self.dbname in cur:
                    flag=1
            if flag==1:
                print("Database {} Exists".format(self.dbname))
                conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba",database=self.dbname)
                conn.close()
                print("Connection Closed!")
            else:
                cur.execute("CREATE DATABASE %s"% self.dbname)
                print("Database {} Created".format(self.dbname))
                conn.close() 
                print("Connection Closed!")
            
        except Exception as e:
            
            print(e)
    
    def create_table(self,tablename,dicts):
        try:
            conn=conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba",database=self.dbname)
            cur=conn.cursor()
            for i in dicts.keys():
                v=dicts[i]
                try:
                    cur.execute("CREATE TABLE {}({} {})".format(tablename,i,v))
                    
                except:
                    cur.execute('ALTER TABLE {} ADD {} {}'.format(tablename,i,v))
            print("Table-{0} created in Database {1}".format(tablename,self.dbname)) 
            conn.close()
            print("Connection Closed!")
        except Exception as e:
            print("Table or column already exists")
    def insert_table(self,tablename,lof):
        try:
            conn=conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba",database=self.dbname)
            cur=conn.cursor()
            cur.execute("INSERT INTO {} VALUES({})".format(tablename,(lof)))
            
            conn.commit()
            print("Entry Successfull")
            conn.close()
            print("connection closed!")
        except Exception as e:
            print("Cannot Insert Data"+str(e))
        
    def select_table(self,tablename):
        try:
            conn=conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba",database=self.dbname)
            cur=conn.cursor()
            cur.execute("select *from {}".format(tablename))
            myresult=cur.fetchall()
            for i in myresult:
                print(i)
            conn.close()
        except Exception as e:
            print("Unsuccessfull!"+str(e))
            
    def drop_table(self,tablename):
        try:
            conn=conn=mysql.connect(host="localhost",user="shwetabh",password="phoolbaba",database=self.dbname)
            cur=conn.cursor()
            cur.execute("DROP TABLE {}".format(tablename))
            print("Table Deleted Successfully!")
        except:
            print("Drop unsuccessfull or table does not exists!")

In [386]:
am=sqloperations("test1")

In [387]:
am.create_database()

1007 (HY000): Can't create database 'test1'; database exists

In [388]:
am.create_table("Hello",values)

Table or column already exists

In [389]:
am.drop_table("Hello")

Table Deleted Successfully!

In [390]:
am.create_table("Hello",values)

Table-Hello created in Database test1
Connection Closed!

#Lets Understand Inheritance Concepts

In [391]:
values={"studentId":"int", "studentRoll":"int", "studentMarks":"int"}

In [392]:
class student(sqloperations):
    def __init__(self,ids,roll,marks):
        self.ids=ids
        self.roll=roll
        self.marks=marks
        self.dbname="studentDetails"

In [393]:
student1=student(12,23,24)

In [394]:
student1.create_database()

1007 (HY000): Can't create database 'studentdetails'; database exists

In [395]:
student1.create_table("StudentMarks",values)

Table or column already exists

In [396]:
valuestoInsert= ("{0},{1},{2}".format(student1.ids,student1.roll,student1.marks))

In [397]:
student1.insert_table("studentMarks",valuestoInsert)

Entry Successfull
connection closed!

In [398]:
student1.select_table("studentMarks")

(12, 23, 24)
(12, 23, 24)
(12, 23, 24)
(12, 23, 24)